Repository cm-ayf/comiacapay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,css}": ["prettier --write"]
}

better forbidden error
  app/components/createErrorBoundary.tsx
Due: eslint --fix, prettier --write

remove unexisting link
  app/components/createErrorBoundary.tsx
Due: eslint --fix, prettier --write

fix event heading
  docs/events.md
Due: prettier --write

rename docs/events.md to docs/event.md
  docs/event.md
  docs/index.md
Due: prettier --write

fix を
  docs/receipts.md
Due: prettier --write

upgrade data-grid
  package-lock.json
  package.json
Due: none

upgrade `@prisma/generator-helper`
  package-lock.json
Due: none

explicitly install @prisma/generator-helper for dependabot
  package-lock.json
  package.json
Due: none

more open pull request limit
  .github/dependabot.yml
Due: none

set node-version-file: package.json
  .github/workflows/ci.yml
  .node-version
  package.json
Due: none

setup playwright
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

initialize script for e2e tests
  tests/init.ts
Due: eslint --fix, prettier --write

accesibility considerations for e2e tests
  app/components/ClickableCard.tsx
  app/components/EventCard.tsx
  app/components/EventDialogContent.tsx
  app/components/GuildCard.tsx
  app/components/ItemCard.tsx
  app/components/Navigation.tsx
  app/components/SetDiscountDialogContent.tsx
  app/routes/$guildId.$eventId._index/route.tsx
  app/routes/$guildId.$eventId.receipts._index/Chart.tsx
  app/routes/$guildId._index/route.tsx
Due: eslint --fix, prettier --write

add tests/items.test.ts
  tests/items.test.ts
Due: eslint --fix, prettier --write

add tests/event.test.ts
  app/components/SetDiscountDialogContent.tsx
  docs/event.md
  tests/event.test.ts
Due: eslint --fix, prettier --write

add e2e workflow
  .github/workflows/e2e.yml
Due: none

fix version output
  .github/workflows/e2e.yml
Due: none

setup runtime environment
  .github/workflows/e2e.yml
Due: none

reduce jobs
  .github/workflows/e2e.yml
Due: none

set real URL
  .github/workflows/e2e.yml
Due: none

fix postgres hostname
  .github/workflows/e2e.yml
Due: none

add migrate and upload report
  .github/workflows/e2e.yml
Due: none

migrate needs directUrl
  .github/workflows/e2e.yml
Due: none

parallelize e2e tests by project
  .github/workflows/e2e.yml
Due: none

infer workers count even in CI
  playwright.config.ts
Due: eslint --fix, prettier --write

check folder structure
  .github/workflows/e2e.yml
Due: none

do not copy node_modules from build job
  .github/workflows/e2e.yml
Due: none

parallelism by sharding
  .github/workflows/e2e.yml
  .gitignore
Due: none

prettier
  .github/workflows/e2e.yml
Due: none

omit name
  .github/workflows/e2e.yml
Due: none

fix typo
  app/components/EventDialogContent.tsx
Due: eslint --fix, prettier --write

use playwright-style fixtures
  eslint.config.js
  tests/event.test.ts
  tests/fixtures.ts
  tests/init.ts
  tests/items.test.ts
Due: eslint --fix, prettier --write

add tests/register.test.ts
  app/routes/$guildId.$eventId.register._index/RegisterDisplayPanel.tsx
  tests/fixtures.ts
  tests/register.test.ts
Due: eslint --fix, prettier --write

add tests/receipts.test.ts
  tests/fixtures.ts
  tests/receipts.test.ts
Due: eslint --fix, prettier --write

bump @mui/x-data-grid
  package-lock.json
  package.json
Due: none

try deleting shim alias
  vite.config.ts
Due: eslint --fix, prettier --write

fix tab table
  app/routes/$guildId.$eventId.receipts._index/route.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

small layout improvements for receipts page
  app/routes/$guildId.$eventId.receipts._index/Chart.tsx
  app/routes/$guildId.$eventId.receipts._index/route.tsx
Due: eslint --fix, prettier --write

fix improve layout
  app/routes/$guildId.$eventId.receipts._index/route.tsx
Due: eslint --fix, prettier --write
