Repository cm-ayf/comiacapay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Revert "Merge pull request #420 from cm-ayf/dependabot/npm_and_yarn/eslint-a4938e660b"
  package-lock.json
  package.json
Due: none

upgrade wyw-in-js monorepo to 0.8.0
  package-lock.json
  package.json
  patches/@wyw-in-js+transform+0.8.0.patch
Due: none

backport Anber/wyw-in-js#147
  patches/@wyw-in-js+transform+0.8.0.patch
Due: none

rename future config
  react-router.config.ts
Due: eslint --fix, prettier --write

bump @mui/lab to 7.0.1-beta.20
  package-lock.json
  package.json
Due: none

Revert "Merge pull request #439 from cm-ayf/dependabot/npm_and_yarn/mui-2a1a816eb3"
  package-lock.json
  package.json
Due: none

Revert "bump @mui/lab to 7.0.1-beta.20"
  package-lock.json
Due: none

narrow overrides
  package-lock.json
  package.json
Due: none

upgrade mui monorepo to v7.3.6
  package-lock.json
  package.json
Due: none

upgrade mui-x monorepo to v8.22.0
  package-lock.json
  package.json
Due: none

organize types
  app/components/ConformDialog.tsx
  app/components/DisplayDialogContent.tsx
  app/components/EventDialogContent.tsx
  app/components/ItemDialogContent.tsx
  app/components/SetDiscountDialogContent.tsx
  app/lib/idb.client.ts
  app/lib/register.ts
  app/lib/schema.ts
  app/routes/$guildId.$eventId._index/CreateSetDiscountDialog.tsx
  app/routes/$guildId.$eventId._index/MutateEventDialog.tsx
  app/routes/$guildId.$eventId._index/UpsertDisplayDialog.tsx
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId._index/CreateEventDialog.tsx
  app/routes/$guildId._index/CreateItemDialog.tsx
  app/routes/$guildId._index/MutateItemDialog.tsx
  app/routes/setup.callback.tsx
Due: eslint --fix, prettier --write

change generics name
  app/components/ConformDialog.tsx
Due: eslint --fix, prettier --write

fixes
  app/components/DisplayDialogContent.tsx
  app/components/EventDialogContent.tsx
  app/components/ItemDialogContent.tsx
  app/components/SetDiscountDialogContent.tsx
  app/lib/body.server.ts
  app/lib/schema.ts
  app/routes/$guildId.$eventId._index/CreateSetDiscountDialog.tsx
  app/routes/$guildId.$eventId._index/UpsertDisplayDialog.tsx
  app/routes/$guildId.$eventId.receipts._index/route.tsx
  app/routes/$guildId.$eventId.register._index/CreateReceiptButton.tsx
Due: eslint --fix, prettier --write

get back encType
  app/lib/body.server.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/route.tsx
  app/routes/$guildId.$eventId.register._index/CreateReceiptButton.tsx
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

fixes
  app/components/ConformDialog.tsx
  app/lib/schema.ts
  app/routes/$guildId.$eventId._index/MutateEventDialog.tsx
  app/routes/$guildId.$eventId._index/UpsertDisplayDialog.tsx
  app/routes/$guildId._index/CreateEventDialog.tsx
  app/routes/$guildId._index/CreateItemDialog.tsx
  app/routes/$guildId._index/MutateItemDialog.tsx
Due: eslint --fix, prettier --write

fixes
  app/components/ItemDialogContent.tsx
  app/routes/setup.callback.tsx
  playwright.config.ts
Due: eslint --fix, prettier --write

change preview port to 4173
  .github/workflows/e2e.yml
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

fix env
  .github/workflows/e2e.yml
Due: none

configurePreviewServer pre
  plugins/vercel-custom-entrypoint.ts
Due: eslint --fix, prettier --write

vite@8.0.0-beta.5
  package-lock.json
  package.json
Due: none

remove unnecessary plugin
  plugins/surpress-node-modules-warning.ts
  vite.config.ts
Due: eslint --fix, prettier --write

add receipt created alert
  app/root.tsx
  app/routes/$guildId.$eventId.register._index/CreateReceiptButton.tsx
Due: eslint --fix, prettier --write

upgrade to node@24
  package-lock.json
  package.json
  scripts/jsconfig.json
Due: none

replace non-existing id with new session
  app/lib/session.server.ts
  app/root.tsx
Due: eslint --fix, prettier --write

add FUNDING.yml
  .github/FUNDING.yml
Due: none

show funding info on summary
  app/routes/$guildId.$eventId.receipts._index/Summary.tsx
Due: eslint --fix, prettier --write

docs
  docs/receipts.md
Due: prettier --write

configure numbers
  app/routes/$guildId.$eventId.receipts._index/Summary.tsx
Due: eslint --fix, prettier --write

fix wording
  app/routes/$guildId.$eventId.receipts._index/Summary.tsx
  docs/receipts.md
Due: eslint --fix, prettier --write

fix debug
  app/routes/$guildId.$eventId.receipts._index/Summary.tsx
Due: eslint --fix, prettier --write

persist
  app/components/Alert.tsx
  app/routes/$guildId.$eventId.receipts._index/Summary.tsx
Due: eslint --fix, prettier --write

filter by total
  app/routes/$guildId.$eventId.receipts._index/Summary.tsx
Due: eslint --fix, prettier --write

magic numbers
  app/routes/$guildId.$eventId.receipts._index/Summary.tsx
Due: eslint --fix, prettier --write

Update Summary.tsx
  app/routes/$guildId.$eventId.receipts._index/Summary.tsx
Due: eslint --fix, prettier --write

init drizzle
  drizzle.config.ts
  drizzle/20251230070640_mixed_valeria_richards/migration.sql
  drizzle/20251230070640_mixed_valeria_richards/snapshot.json
  drizzle/20251230070956_cleanup/migration.sql
  drizzle/20251230070956_cleanup/snapshot.json
  drizzle/20251230071219_current_timestamp_to_now/migration.sql
  drizzle/20251230071219_current_timestamp_to_now/snapshot.json
  drizzle/index.ts
  drizzle/relations.ts
  drizzle/schema.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

migrate scripts
  .prettierignore
  drizzle/index.ts
  drizzle/relations.ts
  drizzle/tsconfig.json
  scripts/export.mjs
  scripts/export.ts
  scripts/generateTrampolineKey.ts
  scripts/import.mjs
  scripts/import.ts
  scripts/jsconfig.json
  scripts/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write

type json columns
  drizzle/schema.ts
Due: eslint --fix, prettier --write

react-router@7.12
  package-lock.json
  package.json
Due: none

mar @mui/{system,utils} as direct dependencies
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,css})
