Repository cm-ayf/comiacapay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

completely delete icons
  public/apple-touch-icon-180x180.png
  public/favicon.ico
  public/icon-192x192.png
  public/icon-48x48.png
  public/icon-512x512.png
  public/icon-96x96.png
  public/manifest.json
Due: none

reset apollo cache on transition
  src/app/(web)/Apollo.tsx
Due: eslint --fix, prettier --write

add link from README to docs/index.md
  README.md
Due: prettier --write

prompt: none on signin
  src/app/(api)/auth/oauth2.ts
Due: eslint --fix, prettier --write

only pass needed params for event update
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
Due: eslint --fix, prettier --write

v0.2.0
  package-lock.json
  package.json
Due: none

handle decrypt request as invalid_credential
  src/app/(api)/auth/refresh/route.ts
  src/app/(web)/guilds/finish/route.ts
Due: eslint --fix, prettier --write

use dedicated query for event title
  src/app/(web)/[guildId]/[eventId]/(index)/layout.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/layout.tsx
  src/app/(web)/[guildId]/[eventId]/register/layout.tsx
  src/app/(web)/[guildId]/[eventId]/useEventTitle/GetEventTitle.graphql
  src/app/(web)/[guildId]/[eventId]/useEventTitle/index.ts
Due: eslint --fix, prettier --write

include id in query for cache resolution
  src/app/(web)/[guildId]/[eventId]/(index)/GetEventDetails.graphql
  src/app/(web)/[guildId]/[eventId]/receipts/useReceiptsMerged/GetReceipts.graphql
  src/app/(web)/[guildId]/[eventId]/register/GetEventRegister.graphql
  src/app/(web)/[guildId]/[eventId]/useEventTitle/GetEventTitle.graphql
Due: prettier --write

optimize `me` queries and query position
  src/app/(api)/graphql/resolvers/mutation.ts
  src/app/(web)/(index)/GetGuilds.graphql
  src/app/(web)/Apollo.tsx
  src/app/(web)/[guildId]/(index)/@events/page.tsx
  src/app/(web)/[guildId]/(index)/@items/page.tsx
  src/app/(web)/[guildId]/(index)/GetGuild.graphql
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@displays/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/GetEventDetails.graphql
  src/app/(web)/[guildId]/[eventId]/idb/index.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/@export/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/@summary/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/@table/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/GetReceiptsPage.graphql
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/GetEventRegister.graphql
  src/app/(web)/[guildId]/[eventId]/register/page.tsx
  src/components/GuildCard.tsx
Due: eslint --fix, prettier --write

delete redirect_to cookie on auth callback
  src/app/(api)/auth/callback/route.ts
Due: eslint --fix, prettier --write

pass around token set for oauth tokens
  src/app/(api)/auth/callback/route.ts
  src/app/(api)/auth/jwt.ts
  src/app/(api)/auth/oauth2.ts
  src/app/(api)/auth/refresh/route.ts
  src/app/(api)/auth/signout/route.ts
  src/app/(api)/auth/sync.ts
  src/app/(api)/auth/tokenset.ts
  src/app/(web)/guilds/sync.ts
Due: eslint --fix, prettier --write

prune dependencies
  package-lock.json
  package.json
Due: none

get rid of typebox
  src/app/(api)/env.ts
  src/components/EventDialog.tsx
  src/components/ItemDialog.tsx
  src/components/date.ts
  src/shared/error.ts
  src/shared/host.ts
  src/shared/utils.ts
Due: eslint --fix, prettier --write

resolve type changes
  src/app/(api)/auth/callback/route.ts
  src/app/(api)/auth/oauth2.ts
  src/app/(api)/auth/refresh/route.ts
  src/app/(web)/UserState/Controller.ts
  src/app/(web)/guilds/finish/route.ts
  src/app/(web)/guilds/initiate/route.ts
  src/app/(web)/guilds/oauth2.ts
  src/shared/error.ts
Due: eslint --fix, prettier --write

npm uninstall typebox
  package-lock.json
  package.json
Due: none

add .node-version
  .node-version
Due: none

use node-version-file for actions
  .github/workflows/ci.yml
Due: none

upgrade @types/node
  package-lock.json
  package.json
Due: none

add github-action on dependabot
  .github/dependabot.yml
Due: none

specify scalarTypes
  graphql.config.yaml
Due: none

change Date type to string | Date
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
Due: eslint --fix, prettier --write

broader fetch input
  src/app/(web)/Apollo.tsx
Due: eslint --fix, prettier --write

normal relationMode
  prisma/schema.prisma
Due: none

add DIRECT_URL
  prisma/schema.prisma
Due: none

postgres
  prisma/schema.prisma
Due: none

change env names
  prisma/schema.prisma
Due: none

dev migration
  prisma/migrations/20231115154224_init/migration.sql
  prisma/migrations/20240312034746_init/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

update README
  README.md
Due: prettier --write

no need to have DATABASE_URL
  src/app/(api)/env.ts
Due: eslint --fix, prettier --write

ignore non-existent currentUserGuild
  src/app/(api)/auth/sync.ts
Due: eslint --fix, prettier --write

remove @db.Char setting
  prisma/migrations/20240312044057_no_db_char/migration.sql
  prisma/schema.prisma
Due: none

v0.3.0
  package-lock.json
  package.json
Due: none

export/import scripts for db migration
  scripts/export.mjs
  scripts/import.mjs
Due: none

remove db.Char setting 2
  prisma/migrations/20240426225901_no_db_char_2/migration.sql
  prisma/schema.prisma
Due: none

use new feature for type safety
  src/app/(api)/auth/jwt.ts
Due: eslint --fix, prettier --write

debug on OAuth2Error.fromJSON
  src/shared/error.ts
Due: eslint --fix, prettier --write

migrate to gridDateTimeFormatter
  src/app/(web)/[guildId]/[eventId]/receipts/@table/page.tsx
Due: eslint --fix, prettier --write

introduce dependabot group updates
  .github/dependabot.yml
Due: none

add empty object in prettierrc
  .prettierrc.json
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,css,graphql})
