Repository cm-ayf/comiacapay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

prettier -w
  docs/event.md
Due: prettier --write

fix eslint ignore
  eslint.config.js
Due: none

use new PrismaClient
  tests/fixtures.ts
Due: eslint --fix, prettier --write

change from interface to type
  app/lib/idb.client.ts
Due: eslint --fix, prettier --write

remove react-router-pwa (remix-pwa)
  .github/dependabot.yml
  package-lock.json
  package.json
  patches/@remix-pwa+dev+4.0.0-dev.3.patch
  patches/@remix-pwa+sw+4.0.0-dev.3.patch
  patches/@remix-pwa+worker-runtime+3.0.0-dev.1.patch
Due: none

implement service worker with vite-pwa
  .gitignore
  app/components/Navigation.tsx
  app/entry.worker.ts
  app/root.tsx
  app/routes/manifest[.webmanifest].ts
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

add offline testing
  package.json
  tests/fixtures.ts
  tests/register.test.ts
Due: eslint --fix, prettier --write

fix prefetching logic
  app/root.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

bump prisma-json-types-generator to 3.5.1
  package-lock.json
  package.json
Due: none

add prisma-json-types-generator to prisma group
  .github/dependabot.yml
Due: none

add background sync for register
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/Table.tsx
  app/routes/$guildId.$eventId.register._index/action.ts
  tests/register.test.ts
  vite.config.ts
Due: eslint --fix, prettier --write

independent dependabot update group for mui-x
  .github/dependabot.yml
Due: none

introduce PrismaPromise#expect
  app/lib/middleware.server.ts
  app/lib/prisma.server.ts
  app/lib/session.server.ts
  app/lib/sync/member.server.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

WIP: middleware
  app/lib/body.server.ts
  app/lib/middleware.server.ts
  app/lib/prisma.server.ts
  app/lib/session.server.ts
  app/lib/sync/guild.server.ts
  app/lib/sync/member.server.ts
  app/lib/sync/user.server.ts
  app/root.tsx
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
  app/routes/_index.tsx
  app/routes/auth.callback.ts
  app/routes/auth.refresh.ts
  app/routes/auth.signout.ts
  app/routes/cron.session.ts
  app/routes/setup.callback.tsx
  app/routes/setup.start.ts
  react-router.config.ts
Due: eslint --fix, prettier --write

fix lock
  package-lock.json
Due: none

thenable middleware
  app/lib/middleware.server.ts
  app/lib/sync/member.server.ts
  app/lib/sync/user.server.ts
  app/root.tsx
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
  app/routes/_index.tsx
  app/routes/auth.refresh.ts
Due: eslint --fix, prettier --write

change SetDiscountDialog to use checkbox group
  app/components/SetDiscountDialogContent.tsx
  tests/event.test.ts
Due: eslint --fix, prettier --write

simplify
  app/components/SetDiscountDialogContent.tsx
Due: eslint --fix, prettier --write

get back helperText
  app/components/SetDiscountDialogContent.tsx
Due: eslint --fix, prettier --write

fix props ordering
  app/components/SetDiscountDialogContent.tsx
Due: eslint --fix, prettier --write

change docs image
  docs/create-discount.png
Due: none

remove unnecessary AI-generated comment
  tests/event.test.ts
Due: eslint --fix, prettier --write

error handling via extension
  app/lib/prisma.server.ts
  app/lib/session.server.ts
  app/root.tsx
Due: eslint --fix, prettier --write

fix feature flag handling
  react-router.config.ts
Due: eslint --fix, prettier --write

apply necessary dependency overrides
  package-lock.json
  package.json
Due: none

wrap cleanup fixtures with transaction
  tests/fixtures.ts
Due: eslint --fix, prettier --write

appropriate eslint ignore
  eslint.config.js
Due: none

fix types
  app/lib/sync/guild.server.ts
  app/lib/sync/member.server.ts
  app/lib/sync/user.server.ts
  app/root.tsx
Due: eslint --fix, prettier --write

fight with flaky test 1
  tests/event.test.ts
Due: eslint --fix, prettier --write

proper forbidden error body
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

other fixes
  app/root.tsx
  app/routes/auth.callback.ts
  app/routes/setup.callback.tsx
  app/routes/setup.start.ts
Due: eslint --fix, prettier --write

refactor checkPermission
  app/lib/sync/member.server.ts
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

share prisma instance
  tests/fixtures.ts
Due: eslint --fix, prettier --write

explicit getLoadContext
  app/entry.server.tsx
Due: eslint --fix, prettier --write

use default entry modules
  app/entry.client.tsx
  app/entry.server.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

use future flags
  plugins/surpress-node-modules-warning.ts
  react-router.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

remove Chart/Table from server
  app/routes/$guildId.$eventId.receipts._index/Chart.client.tsx
  app/routes/$guildId.$eventId.receipts._index/Table.client.tsx
  app/routes/$guildId.$eventId.receipts._index/route.tsx
Due: eslint --fix, prettier --write

rolldown-vite
  package-lock.json
  package.json
  plugins/bundle-root-chunks.ts
  vite.config.ts
Due: eslint --fix, prettier --write

bundle all styles
  plugins/bundle-root-chunks.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,css})
