Repository cm-ayf/comiacapay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,css}": ["prettier --write"]
}

fix exclude
  tsconfig.json
Due: none

fix start script
  package-lock.json
  package.json
Due: none

log error
  app/routes/auth.callback.ts
Due: eslint --fix, prettier --write

fix pg.Pool creation
  app/lib/env.server.ts
  app/lib/prisma.server.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

rejectUnauthorized: false
  app/lib/prisma.server.ts
Due: eslint --fix, prettier --write

fix order
  app/lib/prisma.server.ts
Due: eslint --fix, prettier --write

remove console
  app/routes/auth.callback.ts
Due: eslint --fix, prettier --write

add readme on new prisma client
  README.md
Due: prettier --write

など
  README.md
Due: prettier --write

bump @prisma/client, @prisma/adapter-pg to 6.16.2
  package-lock.json
  package.json
Due: none

explicitly exclude monorepo packages
  .github/dependabot.yml
Due: none

cleanup lock file
  package-lock.json
Due: none

fix from new lint rules
  app/components/Navigation.tsx
  app/lib/fetcher.ts
  app/root.tsx
  app/routes/$guildId._index/CreateItemDialog.tsx
  eslint.config.js
Due: eslint --fix, prettier --write

fix anchorEl
  app/components/Navigation.tsx
Due: eslint --fix, prettier --write

organize overrides
  package.json
Due: none

override happy-dom
  package-lock.json
  package.json
Due: none

upgrade eslint
  package-lock.json
  package.json
Due: none

upgrade happy-dom
  package-lock.json
Due: none

WIP: middleware
  app/lib/body.server.ts
  app/lib/idb.client.ts
  app/lib/middleware.server.ts
  app/lib/prisma.server.ts
  app/lib/session.server.ts
  app/lib/snowflake/index.ts
  app/lib/sync/guild.server.ts
  app/lib/sync/member.server.ts
  app/lib/sync/user.server.ts
  app/root.tsx
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
  app/routes/_index.tsx
  app/routes/auth.callback.ts
  app/routes/auth.refresh.ts
  app/routes/auth.signout.ts
  app/routes/cron.session.ts
  app/routes/setup.callback.tsx
  app/routes/setup.start.ts
  react-router.config.ts
  tests/fixtures.ts
Due: eslint --fix, prettier --write

thenable middleware
  app/lib/middleware.server.ts
  app/lib/sync/member.server.ts
  app/lib/sync/user.server.ts
  app/root.tsx
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
  app/routes/_index.tsx
  app/routes/auth.refresh.ts
Due: eslint --fix, prettier --write

refactor checkPermission
  app/lib/sync/member.server.ts
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

other fixes
  app/root.tsx
  app/routes/auth.callback.ts
  app/routes/setup.callback.tsx
  app/routes/setup.start.ts
Due: eslint --fix, prettier --write

share prisma instance
  tests/fixtures.ts
Due: eslint --fix, prettier --write

fix feature flag handling
  react-router.config.ts
Due: eslint --fix, prettier --write

proper forbidden error body
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

error handling via extension
  app/lib/prisma.server.ts
  app/lib/session.server.ts
  app/root.tsx
Due: eslint --fix, prettier --write

appropriate eslint ignore
  eslint.config.js
Due: none

fight with flaky test 1
  tests/event.test.ts
Due: eslint --fix, prettier --write

wrap cleanup fixtures with transaction
  tests/fixtures.ts
Due: eslint --fix, prettier --write

no unstable
  app/root.tsx
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

use default entry modules
  app/entry.client.tsx
  app/entry.server.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

explicitly add @react-router/node
  package-lock.json
  package.json
Due: none

custom entrypoint
  main.ts
  package-lock.json
  package.json
  playwright.config.ts
  plugins/vercel-custom-entrypoint.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix name
  plugins/vercel-custom-entrypoint.ts
Due: eslint --fix, prettier --write

include .vercel
  .github/workflows/e2e.yml
Due: none

check artifact structure
  .github/workflows/e2e.yml
Due: none

include-hidden-files
  .github/workflows/e2e.yml
Due: none

remove check action
  .github/workflows/e2e.yml
Due: none

perfer shorthand
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

change placement of middleware contexts
  app/lib/context.server.ts
  app/lib/middleware.server.ts
  app/lib/session.server.ts
  app/lib/sync/guild.server.ts
  app/lib/sync/member.server.ts
  app/lib/sync/user.server.ts
  app/root.tsx
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
  app/routes/_index.tsx
  app/routes/auth.callback.ts
  app/routes/auth.refresh.ts
  app/routes/auth.signout.ts
  app/routes/cron.session.ts
  app/routes/setup.callback.tsx
  app/routes/setup.start.ts
Due: eslint --fix, prettier --write
