Repository cm-ayf/comiacapay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,graphql}": ["prettier --write"]
}

graphql schema
  src/schema/Discount.graphql
  src/schema/Event.graphql
  src/schema/Guild.graphql
  src/schema/Item.graphql
  src/schema/Member.graphql
  src/schema/Query.graphql
  src/schema/Receipt.graphql
  src/schema/User.graphql
  src/schema/scalar.mjs
Due: prettier --write

implement USerState
  .gitignore
  graphql.config.yaml
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app/(api)/auth/refresh/route.ts
  src/app/(api)/auth/sync.ts
  src/app/(api)/graphql/context.ts
  src/app/(api)/graphql/resolvers/mutation.ts
  src/app/(api)/graphql/route.ts
  src/app/(api)/sandbox/global.css
  src/app/(api)/sandbox/layout.tsx
  src/app/(api)/sandbox/page.tsx
  src/app/(web)/(index)/page.tsx
  src/app/(web)/layout.tsx
  src/components/Apollo.tsx
  src/components/Layout.tsx
  src/components/Navigation.tsx
  src/components/SigninErrorMessage.tsx
  src/components/SigninMessage.tsx
  src/hooks/Alert.tsx
  src/hooks/GetCurrentUser.graphql
  src/hooks/UserState.tsx
  src/hooks/UserStateController.ts
  src/schema/Guild.graphql
  src/schema/Member.graphql
  src/schema/Mutation.graphql
  src/schema/User.graphql
  src/shared/error.ts
  src/styles/globals.css
Due: eslint --fix, prettier --write

move things
  src/app/(web)/[guildId]/(index)/Events.tsx
  src/app/(web)/[guildId]/(index)/Items.tsx
  src/app/(web)/[guildId]/(index)/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/About.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/Display.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/UpdateCalculator.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/Export.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/ReloadButton.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/Summary.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/Table.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/Top.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/useReceiptExts.tsx
  src/app/(web)/[guildId]/[eventId]/register/Bottom.tsx
  src/app/(web)/[guildId]/[eventId]/register/ItemPanel.tsx
  src/app/(web)/[guildId]/[eventId]/register/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/reducer.ts
  src/app/layout.tsx
Due: eslint --fix, prettier --write

move and remove things
  src/app/(web)/Alert.tsx
  src/app/(web)/Apollo.tsx
  src/app/(web)/UserState/Controller.ts
  src/app/(web)/UserState/GetCurrentUser.graphql
  src/app/(web)/UserState/index.tsx
  src/app/(web)/layout.tsx
  src/hooks/swr.ts
  src/types/common.ts
  src/types/dialog.ts
  src/types/event.ts
  src/types/item.ts
  src/types/receipt.ts
  src/types/route.ts
  src/types/user.ts
Due: eslint --fix, prettier --write

reimplement /[guildId]/
  graphql.config.yaml
  src/app/(web)/(index)/page.tsx
  src/app/(web)/Apollo.tsx
  src/app/(web)/Navigation.tsx
  src/app/(web)/UserState/Controller.ts
  src/app/(web)/[guildId]/(index)/CreateEvent.graphql
  src/app/(web)/[guildId]/(index)/CreateItem.graphql
  src/app/(web)/[guildId]/(index)/DeleteItem.graphql
  src/app/(web)/[guildId]/(index)/Events.tsx
  src/app/(web)/[guildId]/(index)/GetGuild.graphql
  src/app/(web)/[guildId]/(index)/Items.tsx
  src/app/(web)/[guildId]/(index)/UpdateItem.graphql
  src/app/(web)/[guildId]/(index)/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/page.tsx
  src/components/BaseCard.tsx
  src/components/BaseDialog.tsx
  src/components/EventCard.tsx
  src/components/EventDialog.tsx
  src/components/ItemCard.tsx
  src/components/ItemDialog.tsx
  src/components/Layout.tsx
  src/constant.ts
  src/schema/Item.graphql
Due: eslint --fix, prettier --write

implement /[guildId]/[eventId]/register
  prisma/schema.prisma
  src/app/(api)/auth/sync.ts
  src/app/(api)/graphql/resolvers/mutation.ts
  src/app/(web)/UserState/index.tsx
  src/app/(web)/[guildId]/(index)/@items/page.tsx
  src/app/(web)/[guildId]/(index)/layout.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@displays/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/layout.tsx
  src/app/(web)/[guildId]/[eventId]/PushButton/CreateReceipts.graphql
  src/app/(web)/[guildId]/[eventId]/PushButton/index.tsx
  src/app/(web)/[guildId]/[eventId]/idb.ts
  src/app/(web)/[guildId]/[eventId]/params.ts
  src/app/(web)/[guildId]/[eventId]/receipts/GetReceipts.graphql
  src/app/(web)/[guildId]/[eventId]/receipts/Top.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/@display/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/Bottom.tsx
  src/app/(web)/[guildId]/[eventId]/register/GetEventRegister.graphql
  src/app/(web)/[guildId]/[eventId]/register/Register.tsx
  src/app/(web)/[guildId]/[eventId]/register/layout.tsx
  src/app/(web)/[guildId]/[eventId]/register/page.tsx
  src/components/Layout.tsx
  src/components/SyncButton.tsx
  src/hooks/DBState.tsx
  src/hooks/idb.ts
  src/schema/Mutation.graphql
  src/schema/Receipt.graphql
Due: eslint --fix, prettier --write

fix server/client boundaries
  src/app/(web)/(index)/page.tsx
  src/app/(web)/[guildId]/(index)/layout.tsx
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/Register.tsx
  src/app/(web)/[guildId]/[eventId]/register/layout.tsx
  src/app/(web)/guilds/callback/page.tsx
  src/app/(web)/guilds/finish/route.ts
  src/components/ErrorComponent.tsx
  src/components/Layout.tsx
Due: eslint --fix, prettier --write

small fixes
  src/app/(web)/Apollo.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@displays/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/@display/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/layout.tsx
Due: eslint --fix, prettier --write

change scalar.mjs to scalar.ts
  graphql.config.yaml
  package-lock.json
  package.json
  src/app/(api)/graphql/route.ts
  src/app/(web)/Navigation.tsx
  src/components/EventCard.tsx
  src/schema/scalar.ts
Due: eslint --fix, prettier --write

default values on guild initialize
  src/app/(web)/guilds/callback/RolesSelect.tsx
  src/app/(web)/guilds/callback/page.tsx
  src/app/(web)/guilds/sync.ts
Due: eslint --fix, prettier --write

implement /[guildId]/[eventId]/receipts
  next.config.js
  package-lock.json
  package.json
  src/app/(api)/auth/callback/route.ts
  src/app/(api)/auth/cookie.ts
  src/app/(api)/auth/jwt.ts
  src/app/(api)/auth/oauth2.ts
  src/app/(api)/auth/signin/route.ts
  src/app/(api)/env.ts
  src/app/(api)/graphql/route.ts
  src/app/(web)/Apollo.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/layout.tsx
  src/app/(web)/[guildId]/[eventId]/PushButton/index.tsx
  src/app/(web)/[guildId]/[eventId]/idb/Provider.tsx
  src/app/(web)/[guildId]/[eventId]/idb/index.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/@export/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/@summary/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/@table/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/@top/DeleteReceipts.graphql
  src/app/(web)/[guildId]/[eventId]/receipts/@top/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/Export.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/GetReceiptsPage.graphql
  src/app/(web)/[guildId]/[eventId]/receipts/ReceiptsPage.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/ReloadButton.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/Table.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/Top.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/layout.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/useReceiptExts.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/useReceiptsMerged/GetReceipts.graphql
  src/app/(web)/[guildId]/[eventId]/receipts/useReceiptsMerged/index.ts
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/layout.tsx
  src/app/(web)/guilds/finish/route.ts
  src/app/(web)/guilds/initiate/route.ts
  src/app/(web)/guilds/oauth2.ts
Due: eslint --fix, prettier --write

implement discount and NoSSRSuspense
  src/app/(api)/auth/sync.ts
  src/app/(api)/graphql/resolvers/mutation.ts
  src/app/(web)/[guildId]/(index)/@events/page.tsx
  src/app/(web)/[guildId]/(index)/@items/page.tsx
  src/app/(web)/[guildId]/(index)/layout.tsx
  src/app/(web)/[guildId]/(index)/params.ts
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/CreateSetDiscount.graphql
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/DeleteDiscount.graphql
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@displays/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/GetEventDetails.graphql
  src/app/(web)/[guildId]/[eventId]/(index)/layout.tsx
  src/app/(web)/[guildId]/[eventId]/idb/Provider.tsx
  src/app/(web)/[guildId]/[eventId]/idb/index.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/@top/page.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/layout.tsx
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/GetEventRegister.graphql
  src/app/(web)/[guildId]/[eventId]/register/RegisterPage.tsx
  src/app/(web)/[guildId]/[eventId]/register/layout.tsx
  src/app/(web)/[guildId]/[eventId]/register/page.tsx
  src/app/(web)/guilds/callback/page.tsx
  src/app/(web)/guilds/sync.ts
  src/components/ErrorComponent.tsx
  src/components/EventDialog.tsx
  src/components/ItemDialog.tsx
  src/components/Layout.tsx
  src/components/NoSSRSuspense.tsx
  src/schema/Discount.graphql
  src/schema/Mutation.graphql
Due: eslint --fix, prettier --write

implement /
  src/app/(web)/(index)/GetGuilds.graphql
  src/app/(web)/(index)/layout.tsx
  src/app/(web)/(index)/page.tsx
  src/components/GuildCard.tsx
Due: eslint --fix, prettier --write

add DedicationDiscount
  src/app/(api)/graphql/resolvers/index.ts
  src/app/(api)/graphql/resolvers/mutation.ts
  src/app/(api)/graphql/route.ts
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/CreateDedicationDiscount.graphql
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/GetEventDetails.graphql
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/GetEventRegister.graphql
  src/app/(web)/[guildId]/[eventId]/register/page.tsx
  src/schema/Discount.graphql
  src/schema/Mutation.graphql
Due: eslint --fix, prettier --write

move internal and dedication to display
  prisma/schema.prisma
  src/app/(api)/graphql/resolvers/mutation.ts
  src/app/(web)/(index)/page.tsx
  src/app/(web)/[guildId]/(index)/@events/page.tsx
  src/app/(web)/[guildId]/(index)/@items/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/CreateDedicationDiscount.graphql
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@displays/UpsertDisplay.graphql
  src/app/(web)/[guildId]/[eventId]/(index)/@displays/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/GetEventDetails.graphql
  src/app/(web)/[guildId]/[eventId]/receipts/@top/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/GetEventRegister.graphql
  src/app/(web)/[guildId]/[eventId]/register/page.tsx
  src/components/BaseDialog.tsx
  src/components/EventCard.tsx
  src/components/ItemDialog.tsx
  src/components/ItemPanel.tsx
  src/components/Layout.tsx
  src/schema/Discount.graphql
  src/schema/Event.graphql
  src/schema/Mutation.graphql
Due: eslint --fix, prettier --write

refresh on unauthorized and so on
  src/app/(api)/auth/callback/route.ts
  src/app/(api)/auth/cookie.ts
  src/app/(api)/auth/jwt.ts
  src/app/(api)/auth/oauth2.ts
  src/app/(api)/auth/signin/route.ts
  src/app/(api)/env.ts
  src/app/(web)/Apollo.tsx
  src/app/(web)/guilds/finish/route.ts
  src/app/(web)/guilds/initiate/route.ts
  src/app/(web)/guilds/oauth2.ts
  src/components/Layout.tsx
  src/shared/error.ts
  src/shared/host.ts
Due: eslint --fix, prettier --write

fix layout
  src/app/(web)/Apollo.tsx
  src/app/(web)/Navigation.tsx
  src/app/(web)/UserState/index.tsx
  src/components/Layout.tsx
Due: eslint --fix, prettier --write

refresh button
  src/app/(api)/auth/refresh/route.ts
  src/app/(api)/graphql/resolvers/index.ts
  src/app/(web)/Navigation.tsx
Due: eslint --fix, prettier --write

better signin url
  next.config.js
  src/app/(api)/auth/callback/route.ts
  src/app/(api)/auth/cookie.ts
  src/app/(api)/auth/signin/route.ts
  src/app/(web)/Navigation.tsx
Due: eslint --fix, prettier --write

fix redirect
  src/app/(api)/auth/callback/route.ts
  src/app/(web)/Navigation.tsx
Due: eslint --fix, prettier --write

change index design
  src/app/(web)/(index)/page.tsx
Due: eslint --fix, prettier --write

take care of failed callback
  src/app/(web)/(index)/page.tsx
  src/app/(web)/guilds/callback/page.tsx
Due: eslint --fix, prettier --write

fix push
  prisma/schema.prisma
  src/app/(api)/graphql/resolvers/mutation.ts
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/page.tsx
  src/app/(web)/[guildId]/[eventId]/PushButton/index.tsx
  src/app/(web)/[guildId]/[eventId]/idb/RefetchController.ts
  src/app/(web)/[guildId]/[eventId]/idb/index.tsx
  src/components/DummyItemPicture.tsx
  src/components/ItemCard.tsx
  src/components/ItemPanel.tsx
Due: eslint --fix, prettier --write

docs
  docs/create-discount.jpg
  docs/create-display.jpg
  docs/create-event.jpg
  docs/create-event.png
  docs/create-item.jpg
  docs/create-item.png
  docs/discord-authorize.jpg
  docs/edit-display.jpg
  docs/edit-event.jpg
  docs/edit-event.png
  docs/edit-item.jpg
  docs/edit-item.png
  docs/event.jpg
  docs/events.md
  docs/guild.jpg
  docs/guilds-callback.jpg
  docs/index.md
  docs/items.md
  docs/permissions.md
  docs/receipts-export.jpg
  docs/receipts-summary.jpg
  docs/receipts-table.jpg
  docs/receipts.md
  docs/register-after-commit.jpg
  docs/register-before-commit.jpg
  docs/register.jpg
  docs/register.md
  docs/root.jpg
  docs/signin.md
  src/app/(api)/graphql/resolvers/event.ts
  src/app/(api)/graphql/resolvers/guild.ts
  src/app/(web)/Navigation.tsx
  src/app/(web)/[guildId]/(index)/@events/page.tsx
  src/app/(web)/[guildId]/(index)/@items/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
Due: eslint --fix, prettier --write

clone on CreateEvent
  src/app/(api)/graphql/resolvers/mutation.ts
  src/app/(web)/[guildId]/(index)/@events/page.tsx
  src/components/EventDialog.tsx
  src/schema/Event.graphql
Due: eslint --fix, prettier --write

change docs along with CreateEvent clone
  docs/create-event.jpg
  docs/create-event.png
  docs/create-item.png
  docs/edit-event.png
  docs/edit-item.png
  docs/events.md
Due: none

update readme
  README.md
Due: none

fix key.mks
  README.md
  scripts/key.mjs
Due: none

mv scalar.{ts => mjs}
  src/app/(api)/graphql/route.ts
  src/schema/scalar.mjs
Due: eslint --fix, prettier --write

migrate dev
  prisma/migrations/20231115154224_init/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

change config
  graphql.config.yaml
Due: none

downgrade nitrogql
  package-lock.json
  package.json
Due: none

remove dynamic = "force-static"
  .gitignore
  next.config.js
  package-lock.json
  package.json
  src/app/(api)/auth/callback/route.ts
  src/app/(api)/auth/signin/route.ts
  src/app/(web)/[guildId]/(index)/@events/page.tsx
  src/app/(web)/[guildId]/(index)/@items/page.tsx
  src/app/(web)/[guildId]/(index)/layout.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@about/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@discounts/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/@displays/page.tsx
  src/app/(web)/[guildId]/[eventId]/(index)/layout.tsx
  src/app/(web)/[guildId]/[eventId]/receipts/layout.tsx
  src/app/(web)/[guildId]/[eventId]/register/@bottom/page.tsx
  src/app/(web)/[guildId]/[eventId]/register/layout.tsx
  src/app/(web)/[guildId]/[eventId]/register/page.tsx
  src/app/(web)/guilds/callback/page.tsx
  src/app/(web)/guilds/finish/route.ts
  src/app/(web)/guilds/initiate/route.ts
Due: eslint --fix, prettier --write

disable ppr
  next.config.js
Due: none

fix item direction
  src/app/(api)/graphql/resolvers/guild.ts
Due: eslint --fix, prettier --write

create display page
  src/app/(web)/[guildId]/[eventId]/display/page.tsx
  src/components/ItemPanel.tsx
  src/constant.ts
Due: eslint --fix, prettier --write

format md
  .lintstagedrc.json
  docs/events.md
  docs/items.md
Due: none
