Repository cm-ayf/comiacapay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

improve prefetching
  app/entry.worker.ts
  app/root.tsx
  app/routes/_index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

bump node
  .node-version
  package-lock.json
  package.json
  scripts/jsconfig.json
Due: none

revert and update README.md
  README.md
  package.json
Due: prettier --write

fix database url
  README.md
Due: prettier --write

reorganize eslint config
  eslint.config.js
Due: none

ci name
  .github/workflows/ci.yml
Due: none

use npm ci
  .github/workflows/ci.yml
Due: none

remove unused thins
  app/entry.worker.ts
  app/root.tsx
Due: eslint --fix, prettier --write

make trampoline optional
  app/lib/env.server.ts
  app/routes/auth.callback.ts
Due: eslint --fix, prettier --write

readme
  README.md
Due: prettier --write

migrate context to react 19
  app/components/Alert.tsx
  app/components/RemixFormDialog.tsx
  app/routes/$guildId.$eventId.receipts._index/route.tsx
Due: eslint --fix, prettier --write

target ES2020
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

add localization to data grid
  app/routes/$guildId.$eventId.receipts._index/Table.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

not in vite.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

memo localized theme
  app/routes/$guildId.$eventId.receipts._index/Table.tsx
Due: eslint --fix, prettier --write

WIP: middleware
  app/lib/body.server.ts
  app/lib/middleware.server.ts
  app/lib/prisma.server.ts
  app/lib/session.server.ts
  app/lib/sync/guild.server.ts
  app/lib/sync/member.server.ts
  app/lib/sync/user.server.ts
  app/root.tsx
  app/routes/$guildId.$eventId._index/loader.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.receipts._index/loader.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId._index/loader.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
  app/routes/_index.tsx
  app/routes/auth.callback.ts
  app/routes/auth.refresh.ts
  app/routes/auth.signout.ts
  app/routes/cron.session.ts
  app/routes/setup.callback.tsx
  app/routes/setup.start.ts
  react-router.config.ts
Due: eslint --fix, prettier --write

fix member validation
  app/lib/middleware.server.ts
Due: eslint --fix, prettier --write

introduce PrismaPromise#expect
  app/lib/middleware.server.ts
  app/lib/prisma.server.ts
  app/lib/session.server.ts
  app/lib/sync/member.server.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.discounts.ts
  app/routes/$guildId.$eventId.displays.$itemId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.register._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId._index/action.ts
  app/routes/$guildId.items.$itemId.ts
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

fix package resolution
  package-lock.json
Due: none

switch to prisma accelerate
  app/lib/prisma.server.ts
  package-lock.json
  package.json
  prisma/schema.prisma
Due: eslint --fix, prettier --write

add dependabot group eslint and typescript
  .github/dependabot.yml
Due: none

do not upgrade @eslint/js without eslint
  package-lock.json
  package.json
Due: none

upgrade eslint
  package-lock.json
  package.json
Due: none

upgrade @prisma/generator-helper
  package-lock.json
Due: none

add typechangebot notice to README.md
  README.md
Due: prettier --write

height: 100svh
  app/global.css
Due: prettier --write

upgrade and configure csv export
  app/routes/$guildId.$eventId.receipts._index/Table.tsx
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

move DeleteButton to Toolbar
  app/routes/$guildId.$eventId.receipts._index/Table.tsx
  app/routes/$guildId.$eventId.receipts._index/route.tsx
Due: eslint --fix, prettier --write

remove unused things
  app/lib/handle.ts
  app/root.tsx
Due: eslint --fix, prettier --write

remove unnecessary route specfications
  app/routes/$guildId.$eventId.receipts._index/Table.tsx
  app/routes/$guildId.$eventId.receipts._index/route.tsx
Due: eslint --fix, prettier --write

fix sorting
  app/lib/idb.client.ts
Due: eslint --fix, prettier --write

strict comparison
  app/lib/idb.client.ts
Due: eslint --fix, prettier --write

memo rows
  app/routes/$guildId.$eventId.receipts._index/Table.tsx
Due: eslint --fix, prettier --write

do not specify devDependencies @eslint/js explicitly
  package-lock.json
  package.json
Due: none

remove confusing comment
  app/routes/$guildId.$eventId.receipts._index/route.tsx
Due: eslint --fix, prettier --write

add chart for receipts
  app/routes/$guildId.$eventId.receipts._index/Chart.tsx
  app/routes/$guildId.$eventId.receipts._index/route.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

align version with others
  package-lock.json
  package.json
Due: none

no unnecessary mutable syntax
  app/routes/$guildId.$eventId.receipts._index/Chart.tsx
Due: eslint --fix, prettier --write

invert definition
  app/routes/$guildId.$eventId.receipts._index/Chart.tsx
Due: eslint --fix, prettier --write

throw better http errros
  app/lib/middleware.server.ts
  app/routes/$guildId.$eventId.discounts.$discountId.ts
  app/routes/$guildId.$eventId.receipts._index/action.ts
  app/routes/$guildId.$eventId.tsx
  app/routes/$guildId.items.ts
  app/routes/$guildId.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,css})
